body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  --button-color: hsl(180, 66%, 49%);
  --white: white; 
  --text-color: hsl(257, 7%, 63%);
  --dark-purple: hsl(260, 8%, 14%);
  --purple: hsl(257, 27%, 26%);
  --light-gray-bg: hsl(240, 10%, 96%);
  --light-button-color: hsl(180, 50%, 76%);
}

p, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
}

button:hover {
  background-color: var(--light-button-color) !important;
  cursor: pointer;
}

#url-submit:hover {
  background-color: var(--light-button-color);
  cursor: pointer;
}