/* Navigation Bar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  vertical-align: middle;
  min-height: 8rem;
}

.business-info {
  color: var(--text-color);
  font-weight: 600;
  font-size: .75rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  width: 50%;
  max-width: 400px;
}

.account-access {
  color: var(--text-color);
  font-weight: 600;
  font-size: .75rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 50%;
  max-width: 400px;
}

.account-access button, .boost button, .call-to-action button, #url-submit {
  background-color: var(--button-color);
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: .75rem;
  font-weight: 600;
  color: var(--white);
}

span {
  width: 1.5rem;
  height: .2rem;
  background-color: var(--text-color);

}

@media (max-width: 540px) {
  .account-access {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 1rem;
    gap: .5rem;
  }
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: hidden;
  margin-bottom: 6rem;
}


.call-to-action {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem;
  color: var(--text-color);
  font-size: .8rem;
  font-weight: 500;
}

@media (max-width: 700px) {
  .call-to-action {
    order: 1;
    align-items: center;
    text-align: center;
  }
}

.call-to-action h2 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: var(--dark-purple);
}

.call-to-action p {
  margin-bottom: 1.5rem;
}

.call-to-action button {
  max-width: 8em;
  padding: 0.6em 1.1em;
  border-radius: 1.1em;
}

.desk-img-container {
  display: flex;
  position: relative;
  right: -5rem;
}

.desk-img-container img{
  width: 100%;
}

/* URL Input field and url list */

.url-field {
  background-color: var(--light-gray-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  gap: 1rem;
  background: url(images/bg-shorten-desktop.svg);
  background-color: var(--purple);
  border-radius: 0.3em;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 80%;
  min-height: 6rem;
  position: relative;
  top: -3rem;
  margin-bottom: -1.1rem;
}

#url-input {
  width: 70%;
  height: 1.8rem;
  border: none;
  border-radius: .3em;
  padding: .4em 1em;
}

::placeholder {
  color: var(--text-color);
  font-weight: 500;
}

#url-submit {
  padding: .4em .8em;
  border-radius: .3em;
  height: 3.2em;
  width: 10em;
}

.url-links {
  background-color: white;
  width: 83%;
  border-radius: .2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: .8em 1.1em;
  margin-bottom: 1rem;
}

.copy {
  border: none;
  border-radius: .2em;
  padding: .6em 1.2em;
  background-color: var(--button-color);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: .8rem;
}

@media (max-width: 680px) {
  form {
    flex-direction: column;
    padding: 2em;
  }

  #url-submit {
    width: 77%;
  }
}

/*Statistics*/

.stats {
  background-color: var(--light-gray-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-title-container {
  width: 50%;
}

.stats h3{
  font-size: 1.4rem;
  margin-top: 1rem;
  text-align: center;
  color: hsl(260, 8%, 14%);
}


.stats p {
  margin-top: .6rem;
  text-align: center;
  font-size: .8rem;
  color: var(--text-color);
}

/* Customer Benefits */

.benefits {
  background-color: var(--light-gray-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 3rem 1.6rem 1.6rem 1.6rem;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--white);
  border-radius: .2rem;
  width: 30%;
  min-width: 12rem;
  max-width: 250px;
  min-height: 180px;
  padding: 0 .6rem;
  font-size: .7rem;
  font-weight: 500;
  color: var(--text-color);
}

.benefit-card h4 {
  color: hsl(260, 8%, 14%);
  margin-bottom: .6rem;
  font-size: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  padding: 1.4em;
  border-radius: 50%;
  width: 12%;
  position: relative;
  top: -1.6rem;
  right: -.5rem;
}

.img-container img {
  width: 90%;
}

.brand {
  position: relative;
  top: -1.6rem;
}

.customizable {
  position: relative;
  bottom: -1.6rem;
}

.blue-line {
  background-color: var(--button-color);
  width: 2.5%;
  min-height: 6px;
}

@media (max-width: 680px) {
  .benefits {
    flex-direction: column;
    padding-top: 3rem;
  }

  .benefit-card {
    text-align: center;
  }

  .img-container {
    right: -4.3rem;
  }

  .brand, .customizable {
    position: static;
  }

  .blue-line {
  background-color: var(--button-color);
  width: 6px;
  min-height: 3rem;
}
}

/* Boost Link */

.boost {
  background: url(/images/bg-boost-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--purple);
  min-height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

}

.boost h3 {
  margin-top: 2.5rem;
  margin-bottom: .6rem;
  font-size: 1.5rem;
  color: var(--white);
}

.boost button {
  padding: .6em 1.4em;
  border-radius: 1.1em;
}

/* Footer */

footer {
  background-color: hsl(260, 8%, 14%);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.company-name img {
  width: 80%;
}

.page-links {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.page-links p{
  color: var(--white);
  font-size: .7rem;
  font-weight: 500;
}

.page-links ul {
  list-style-type: none;
  font-size: .6rem;
  padding-left: 0;
}

.page-links li {
  margin-bottom: .2rem;
  color: var(--text-color);
}

.socials {
  display: flex;
  justify-content: space-evenly;
  min-width: 150px;
}

.socials img {
  width: 1rem;
  height: 1rem;
} 

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .company-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .page-links {
    align-items: center;
  }

  .page-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
