/* Hero */

.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow: hidden;
  margin-bottom: 6rem;
}


.call-to-action {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem;
  color: var(--text-color);
  font-size: .8rem;
  font-weight: 500;
}

@media (max-width: 700px) {
  .call-to-action {
    order: 1;
    align-items: center;
    text-align: center;
  }
}

.call-to-action h2 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  color: var(--dark-purple);
}

.call-to-action p {
  margin-bottom: 1.5rem;
}

.call-to-action button {
  max-width: 8em;
  padding: 0.6em 1.1em;
  border-radius: 1.1em;
}

.desk-img-container {
  display: flex;
  position: relative;
  right: -5rem;
}

.desk-img-container img{
  width: 100%;
}