/* Navigation Bar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  vertical-align: middle;
  padding-left: 2.5rem;
  padding-right: 1rem;
  min-height: 8rem;
}

.business-info {
  color: var(--text-color);
  font-weight: 600;
  font-size: .75rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  width: 50%;
  max-width: 400px;
}

.account-access {
  position: relative;
  color: var(--text-color);
  font-weight: 600;
  font-size: .75rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 50%;
  max-width: 400px;
}

nav p:hover {
  color: var(--dark-purple);
  cursor: pointer;
}

.account-access button, .boost button, .call-to-action button, #url-submit {
  background-color: var(--button-color);
  border: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: .75rem;
  font-weight: 600;
  color: var(--white);
}

span {
  width: 1.5rem;
  height: .2rem;
  background-color: var(--text-color);

}

.menu {
  position: absolute;
  top: 3rem;
  right: 1rem;
  z-index: 200;
  min-width: 14rem;
  min-height: 18rem;
  background-color: var(--purple);
  border-radius:.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.menu button {
  width: 100%;
  font-size: 1rem;
}

.menu span{
  height: 0.01rem;
  width: 100%;
}

@media (max-width: 650px) {
  .account-access {
    max-width: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  .account-access:hover {
    cursor: pointer;
  }
}