/* URL Input field and url list */

.url-field {
  background-color: var(--light-gray-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  padding: 2em 2em 0em 2em;
  gap: 1rem;
  background: url(assets/bg-shorten-desktop.svg);
  background-color: var(--purple);
  border-radius: 0.3em;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 80%;
  min-height: 5rem;
  position: relative;
  top: -3rem;
  margin-bottom: -1.1rem;
}

.enter-url {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#url-input {
  height: 1.8rem;
  border: none;
  border-radius: .3em;
  padding: .4em 1em;
}

#url-input.error {
  border: 2px solid var(--error-color);
}

.error-message {
  color: var(--error-color);
  font-size: .8rem;
}

::placeholder {
  color: var(--text-color);
  font-weight: 500;
}

#url-submit {
  padding: .4em .8em;
  border-radius: .3em;
  height: 3.2em;
  width: 10em;
}

input:focus {
  outline: none;
}

.url-links {
  background-color: white;
  width: 82%;
  border-radius: .2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: .8em 1.1em;
  margin-bottom: 1rem;
}

.copy-URL-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--button-color);
}

.copy {
  border: none;
  border-radius: .2em;
  padding: .6em 1.2em;
  background-color: var(--button-color);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: .8rem;
}

@media (max-width: 680px) {
  form {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  #url-submit, .enter-url {
    width: 90%;
  }
}
